In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
float(1) / 2.0

0.5

In [4]:
2**4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) *  (5 + 5)

50

In [8]:
name_der_veriable = 2

In [9]:
x = 2
y = 3

In [10]:
z = x * y

In [11]:
z

6

In [12]:
'String'

'String'

In [13]:
"String"

'String'

In [14]:
"Ein String 'im String' "

"Ein String 'im String' "

In [15]:
x = "Hallo"

In [16]:
x

'Hallo'

In [17]:
print(x)

Hallo

In [18]:
num = 23
name = 'David'

In [19]:
print('Mein Alter ist: {}, und meinName lautet: {}'.format(num, name))

Mein Alter ist: 23, und meinName lautet: David

In [20]:
['Hi',2,3]

['Hi', 2, 3]

In [21]:
meine_liste = ['a','b','c']

In [22]:
meine_liste.append('d')

In [23]:
meine_liste

['a', 'b', 'c', 'd']

In [24]:
meine_liste[-1] = 'NEU'

In [25]:
meine_liste

['a', 'b', 'c', 'NEU']

In [26]:
liste = [1,2,3,[4,5,['Ziel']]]

In [27]:
liste[3][2][0]

'Ziel'

In [28]:
d = {'key1':'wert1','key2':123}

In [29]:
d

{'key1': 'wert1', 'key2': 123}

In [30]:
d['key1']

'wert1'

In [31]:
d = {'k1':{'innerekey': [1,2,3]}}

In [32]:
d

{'k1': {'innerekey': [1, 2, 3]}}

In [33]:
d['k1']['innerekey'][1]

2

In [34]:
True

True

In [35]:
False

False

In [36]:
t = (1,2,3)

In [37]:
t

(1, 2, 3)

In [38]:
t[0] = 'Neu'

TypeError: 'tuple' object does not support item assignment

In [39]:
s = {1,2,3,1,2,3,4,5,5,5,5,5}

In [40]:
s.add(100)

In [41]:
s

{1, 2, 3, 4, 5, 100}

In [42]:
1 > 2

False

In [43]:
1 < 2

True

In [44]:
1 >= 1

True

In [45]:
1 <= 4

True

In [46]:
1 == 1

True

In [47]:
'hi' == 'bye'

False

In [48]:
((1 > 2) or (2 < 3) or (4==4)) and (1==1)

True

In [49]:
x = 1
if x < 2:
    print('Hi!')
elif x == 3:
    print ('Mitte!')
elif x == 4:
    print ('4')
else:
    print('Ciao!')

Hi!

In [50]:
seq = [1,2,3,4,5]

In [51]:
for wert in seq:
    print(wert+wert)

2
4
6
8
10

In [52]:
i = 1
while i < 5:
    print('i ist: {}'.format(i))
    i = i+1

i ist: 1
i ist: 2
i ist: 3
i ist: 4

In [53]:
for i in range(5):
    print(i)

0
1
2
3
4

In [54]:
range(5)

range(0, 5)

In [55]:
x = list(range(5))

In [56]:
y = []

In [57]:
for item in x:
    y.append(item**2)
print(y)

[0, 1, 4, 9, 16]

In [58]:
[item**2 for item in x]

[0, 1, 4, 9, 16]

In [59]:
def funk (param1='standard'):
    """
    Beschreibung
    Mehrer Zeilen
    """
    print (param1)

In [60]:
funk

In [61]:
funk(param1='Ein Parameter')

Ein Parameter

In [62]:
def quadrat(x=0):
    return x**2

In [63]:
aus = quadrat(5)

In [64]:
aus

25

In [67]:
print(aus)

25

In [68]:
def mal2(var):
    return var*2

In [69]:
mal2(4)

8

In [74]:
l_mal2 = lambda var: var*2

In [75]:
l_mal2(6)

12

In [76]:
seq = [1,2,3,4,5] # range(1,6)

In [77]:
seq

[1, 2, 3, 4, 5]

In [81]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [83]:
list(filter(lambda item: item%2==0,seq))

[2, 4]

In [84]:
st = 'Hallo mein Name ist Sam'

In [85]:
st.lower()

'hallo mein name ist sam'

In [86]:
st.upper()

'HALLO MEIN NAME IST SAM'

In [87]:
st.split()

['Hallo', 'mein', 'Name', 'ist', 'Sam']

In [88]:
tweet = "Los Sports! #Sports"

In [90]:
tweet.split('#')[1]

'Sports'

In [91]:
d

{'k1': {'innerekey': [1, 2, 3]}}

In [92]:
d.keys()

dict_keys(['k1'])

In [93]:
d.items()

dict_items([('k1', {'innerekey': [1, 2, 3]})])

In [94]:
lst = [1,2,3]

In [95]:
lst.append('Neu')

In [96]:
lst

[1, 2, 3, 'Neu']

In [97]:
lst.pop()

'Neu'

In [98]:
lst

[1, 2, 3]

In [102]:
first = lst.pop(0)

In [103]:
first

1

In [104]:
lst

[2]

In [105]:
'x' in [1,2,3]

False

In [106]:
'x' in ['x','y']

True

In [111]:
x = [(1,2),(3,4),(5,6)]

In [112]:
for a,b in x:
    print (a)
    print (b)

1
2
3
4
5
6